<html>
  <head>
    <title>I honestly have no clue what to make this website about.</title>
    <link href="styles.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1 id="top" class="title">The Random Things That I Thought Of When Coding This!</h1>
    <p>I've been knitting out of view from the camera during the lectures and boy does it help me focus.</p>
    <div>
      <h3 class="title">Some things I just happened to type in my code:</h2>
      <ul>
        <li>sup?</li>
        <li>My cat, Piper, is suprisingly leaving me be instead of rubbing my arms and hands while I code.</li>
        <li>My snacks are so far out of reach! *Ngh ngh*</li>
        <li>Can I read a book other than The Scarlet Letter for summer reading?</li>
        <li>Wow... I'm really enjoying this!</li>
        <li>WELSH'S FRUIT GUMMIES ARE THE BEST!</li>
      </ul>
    </div>
    <div>
      <h3 class="title">Goodness... I was a really weird 7th grader.</h3>
      <p>Seriously, why did I save this to my computer?</p>
      <img src = "Weird gif.gif" alt = "Weird gif" width = "100 px"/>
    </div>
    <div id="messingAround" class="title">
      <h2>I</h2>
      <h2> </h2>
      <h2>a</h2>
      <h2>m</h2>
      <h2> </h2>
      <h2>a</h2>
      <h2> </h2>
      <h2>c</h2>
      <h2>o</h2>
      <h2>l</h2>
      <h2>u</h2>
      <h2>m</h2>
      <h2>n</h2>
      <h2>!</h2>
    </div>
    <div>
      <h3 class="title">These are copied from Google!</h3>
      <p>I couldn't find anything that I could copy easily so......... yeah.</p>
    </div>
    <div>
      <p>What has this website become? It's like horror film, but worse.</p>
    </div>
  </body>
</html>
